	{% extends "overview/base.html" %}
	
	
{% load overview_extras %}
{% load static %}
{% block extrahead %}
<script src="{% static 'overview/chart.js/node_modules/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script src="{% static 'overview/chart.js/node_modules/chart.js/samples/utils.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'overview/chartjs-plugin-annotation.min.js' %}" type="text/javascript"></script>
<script src="{% static 'overview/chart.js/node_modules/chart.js/src/plugins/plugin.filler.js' %}" type="text/javascript"></script>
<script type="text/javascript">


$( document ).ready(function() {


	var fit_data = [{% for l in gaussy %}{x: {{ l.0 }}, y: {{ l.1 }}},{% endfor %}];
	var lognormalfit_data = [{% for l in lognormaldat %}{x: {{ l.0 }}, y: {{ l.1 }}},{% endfor %}];
	var res_data = [{% for l in y %}{x: {{ l.0 }}, y: {{ l.1 }}}, {% endfor %}];
	

    var config = {
		type: 'line',
		data: {
			datasets: [
			{
				display: true,
				fill: false,
				showLine: false,
				label: 'Number of Results',
				data: res_data,
				borderColor: window.chartColors.red,
				backgroundColor: 'rgba(0, 0, 0, 0)',
				borderWidth: 2,
				xAxisID: 'first-x-axis',
				yAxisID: 'first-y-axis',
			},
			{
				type: 'line',
				label: 'Gauss Fit',
				data: fit_data,
				borderColor: window.chartColors.blue,
				backgroundColor: 'rgba(0, 0, 0, 0)',
				cubicInterpolationMode: 'default',
				xAxisID: 'first-x-axis',
				yAxisID: 'first-y-axis',
			},
			{
				type: 'line',
				label: 'Lognormal Fit',
				data: lognormalfit_data,
				borderColor: window.chartColors.yellow,
				backgroundColor: 'rgba(0, 0, 0, 0)',
				cubicInterpolationMode: 'default',
				xAxisID: 'first-x-axis',
				yAxisID: 'first-y-axis',
			},
			{fill: 'origin',
				xAxisID: 'first-x-axis',
				yAxisID: 'first-y-axis',}			
			]
		},
		options: {
			annotation: {
				annotations: [
				  {
				    type: "line",
				    mode: "vertical",
				    scaleID: "first-x-axis",
				    value: "{{ limmax }}",
				    borderColor: "red",
				    label: {
				      content: "+2.576 Sigma",
				      enabled: true,
				      position: "top"
				    }
				  },
				   {
				    type: "line",
				    mode: "vertical",
				    scaleID: "first-x-axis",
				    value: "{{ limmin }}",
				    borderColor: "red",
				    label: {
				      content: "-2.576 Sigma",
				      enabled: true,
				      position: "top"
				    }
				  }
				]
			  },
			responsive: true,
			barThickness: 5, 
			borderSkipped: 'bottom',
			title: {
				display: true,
				text: 'Result distribution for Node Type'
			},
			tooltips: {
				mode: 'index'
			},
			scales: {
				xAxes: [{
					id: 'first-x-axis',
					type: 'linear',
					ticks: {
						suggestedMin: {{ x.0 }},
						suggestedMax: {% with x|last as last %}{{ last }}{% endwith %},
		                stepSize: 0.01
		            },
					display: true,
					scaleLabel: {
						display: true,
						
						labelString: 'Normalized Result'
					}
				},
				],
				yAxes: [{
					id: 'first-y-axis',
					type: 'linear',
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Number of Results'
					},
					ticks: {
						suggestedMin: 0,
						suggestedMax: {{ maxy }},
					}
				}]
			}
		}
	};

    var ctx = document.getElementById("myChart").getContext("2d");
    var myLineChart =new Chart(ctx, config);
});

</script>
{% endblock %}


{% block title %}Tests -  Cluster Perf{% endblock %}

{% block home %}current{% endblock %}


{% block real_content %}

Analysis:    
 <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
<hr/>
   {% if gaussy %}
   
    Number of Results: {{ resultdisplay.paginator.count }}, Sigma: {{ sigma }}, Expected Value: {{ mu }}, Mean of Results: {{ mean }}
    <canvas id="myChart" width="500" height="300"></canvas>
    
    {% else %}
    Not able to calculate fit.
    {% endif %}

<hr/>
    <div>
    Result List:
    	<table>
    	<tr><th>#ID</th><th>Date</th><th>Nodes</th><th>Result</th><th>Result Normalized</th><th>Result Detail</th></tr>
    	{% for r in resultdisplay %}
    		<tr {% if r.norm_result < limmin or r.norm_result > limmax %} style="background-color:red;"{% endif %}>
    		<td>{{ r.id }}</td>
    		<td>{{ r.end }}</td>
    		<td>{% for n in r.nodes.all %}<a href="{% url 'node_detail' n.cluster.id n.id %}">{{ n.name }}</a></br>{% endfor %}</td>
    		<td>{{ r.result }}</td>
    		<td>{{ r.norm_result }}</td>
    		<td> <details>{{ r.result_detail }}</details></td>
    		</tr>
    	{% endfor %}
    	
    	<div class="pagination">
    <span class="step-links">
        {% if resultdisplay.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
            <a href="?{% url_replace request 'page' resultdisplay.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ resultdisplay.number }} of {{ resultdisplay.paginator.num_pages }}.
        </span>

        {% if resultdisplay.has_next %}
            <a href="?{% url_replace request 'page' resultdisplay.next_page_number %}">next</a>
            <a href="?{% url_replace request 'page' resultdisplay.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
