{% extends "overview/base.html" %}
{% block title %}Home Cluster Perf{% endblock %}

{% block home %}current{% endblock %}


{% block real_content %}
	
<div id="content">
	Cluster:
    <table>
    <tr><th>Name</th><th>Batchsystem</th><th>Login-Node</th><th># Nodes</th></tr>
    {% for cluster in all_clusters %}
        <tr><td><a href="{% url 'cluster_detail' cluster.id %}">{{ cluster.name }}</a></td><td>{{ cluster.batchsystem }}</td><td>{{ cluster.login_node }}</td><td>0</td></tr>
    {% endfor %}
    </table>
    
    </div>
{% endblock %}
